@font-face {
    font-family: 'Teko';
    src: url('../fonts/Teko-Medium.eot');
    src: url('../fonts/Teko-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Teko-Medium.woff2') format('woff2'),
        url('../fonts/Teko-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('../fonts/Teko-Regular.eot');
    src: url('../fonts/Teko-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Teko-Regular.woff2') format('woff2'),
        url('../fonts/Teko-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('../fonts/Teko-Light.eot');
    src: url('../fonts/Teko-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Teko-Light.woff2') format('woff2'),
        url('../fonts/Teko-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('../fonts/Teko-SemiBold.eot');
    src: url('../fonts/Teko-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Teko-SemiBold.woff2') format('woff2'),
        url('../fonts/Teko-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('../fonts/Teko-Bold.eot');
    src: url('../fonts/Teko-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Teko-Bold.woff2') format('woff2'),
        url('../fonts/Teko-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.navbar-holder{
    background: #1f2a44;
}
.lockheed-martin-badge{
    height: 70px;
}
.menu > li > a {
    margin: 22px 3px;
}
.logo{
    background-size: contain;
}
/****************** BLOG **********************/
.blog-post {
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    padding: 20px;
    border: 1px solid #ebebeb;
    background: #fff;

}
.blog-post .blog-img{
    display:block;
    height:20vh;
    margin-bottom: 15px;
    background-position: center center;
    background-size: cover;
}
.section-intro.blog-single.bg-img{
    background-position: center center;
    background-size: cover;
}
.blog-post .blog-img .overlay {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog-post .blog-img .overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.blog-post .content h1, .blog-post .content h2, .blog-post .content h3, .blog-post .content h4, .blog-post .content h5, .blog-post .content h6 {
  line-height: 1.2;
}

.blog-post .content .title {
  font-size: 18px;
}

.blog-post .content .title:hover {
  color: #1f2a44 !important
}

.shadow {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
}

.text-muted {
    color: #8492a6 !important;
}


.para-desc {
    max-width: 600px;
}

.section-title .title {
    letter-spacing: 0.5px;
    font-size: 30px;
}
.blog-post .read-more {
    font-size: 12px;
    font-weight: bold;
}
.post-title::after {
    content: "";
    display: block;
    width: 42px;
    height: 2px;
    background-color: #af505d;
    margin: 12px 0 14px;
}
.post-content {
    margin-top: 4rem;
}
/******************** END BLOG ***************************/
.top-quote:hover {
    background: #1f2a44;
    color: #ffffff;
    border-color: #1f2a44;
}
.top-quote {
    font-family: 'Teko';
    font-size: 23px;
    font-weight: 400;
    border: 2px solid #af505d;
    padding: 0 10px;
    background: #af505d;
    color: #fff;
    line-height: normal;
}
.top-email {
	font-family: 'Teko';
	font-size: 23px;
	font-weight: 400;
    margin-right: 30px;
}
.top-phone {
    font-family: 'Teko';
    font-size: 23px;
    font-weight: 400;
    margin-right: 30px;
}
.top-email i, .top-phone i {
	font-size: 18px;
	display: inline-block;
	margin-right: 7px;
	vertical-align: middle;
}

/* The checkbox-container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #40495f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media (min-width: 1000px){
    .menu > li:last-child > a {
        margin-right: 0;
        padding-right: 0;
    }
}
@media (min-width: 768px) and (max-width: 1300px){
    .topbar .container {
        margin-right: 0;
        width: 100%;
    }
}
@media (max-width:768px) {
    .top-email {
        font-size: 18px;
    }
    .top-phone {
        font-size: 18px;
        margin-right: 20px;
    }
    .top-email i, .top-phone i {
        font-size: 14px;
    }
}
